body {  
	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
	text-align:center;
    background: url("../images/Bg_Fill.png") center no-repeat fixed;
    background-size: cover;
    color: white;
}

.main {
    position: relative;
    margin: 0% 5% 0% 5%;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
    min-height: 95%;
}

.navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f3f3f3;
    text-align: left;
}

.helpNav {
    padding: 0;
    margin: 0 20px 20px 0;
    background-color: #f3f3f3;
    text-align: left;
}

.sidebar {
    width: 25%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

li a {
    display: block;
    color: rgb(25,25,25);
    padding: 14px 16px;
    margin: 0px;
    text-decoration: none;
}

.navImg {
    margin: 0;
    padding: 0;
}

.navImg img {
    height: 49px;
    vertical-align: top;
}

li a:hover {
    background-color: rgb(200,0,0);
	color: white;
	cursor: pointer;
}

.inactive {
    color: rgb(25,25,25);
    padding: 14px 16px;
    margin: 0px;
}

.active {
    color: white;
    padding: 14px 16px;
    margin: 0px;
    background-color: rgb(0,175,0);
}

.helpNav li:hover {
    background-color: rgb(200,0,0);
	color: white;
	cursor: pointer;
}

.content {
    margin: 0px 20px;
    position: relative;
    overflow: auto;
}

.footer {
    font-size: 9px;
    color: black;
    background-color: rgba(255,255,255,0.75);
    border-radius: 5px;
    width: 50%;
    margin: 0 25%;
}

.scrollback {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
  
    border-right: 30px solid black; 
    float: left;
    cursor: pointer;
    visibility: hidden;
    z-index: 99;
    position: relative;
}

.tutorialtxt {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.scrollforward {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
  
    border-left: 30px solid black; 
    float: right;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

.tutorialimg {
    position: relative;
}

.visibleContent {
    width: 75%;
    float: left;
}

.visibleContent img {
    max-width: 100%;
    height: auto;
}

.userguide {
    background-color: #f3f3f3;
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 20px 0;
    position: relative;
    overflow: auto;
}
  
input[type=text] {
	padding: 10px 10px;
	margin: 10px 10px;
	/*display: inline-block;*/
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 100%;
	width: 50%;
  }
  
input[type=submit] {
    background-color: #0066CC;
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 100%;
    width: 50%;
}

.downloadButton {
    background-color: #0066CC;
    color: white;
    padding: 14px 50px;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 100%;
    width: 50%;
    text-decoration: none;
}

.downloadButton:hover {
    background: -webkit-linear-gradient(#6699FF, #0066CC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6699FF, #0066CC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6699FF, #0066CC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6699FF, #0066CC);
}

textarea {
    padding: 10px 10px;
	margin: 10px 10px;
	/*display: inline-block;*/
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 100%;
	width: 50%;
}

input[type=submit]:hover {
	background: -webkit-linear-gradient(#6699FF, #0066CC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6699FF, #0066CC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6699FF, #0066CC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6699FF, #0066CC);
}

.g-recaptcha {
    position: absolute;
    left: 50%;
    margin-left: -152px;
}